.vscode/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
**/tsconfig.tsbuildinfo
coverage
e2eTests
.github
**/test
**/.nyc_output
client
server
.eslintignore
.gitpod.yml
node_modules
sonar-project.properties
